html{
    //font-family: 'ABeeZee', sans-serif;
    font-size:14px;
    text-align:left;
    margin: 0;
    padding: 0;
}

hr {
    border: 0px;
    background-color: #c0c0c0;
    height: 1px;
}

#header {
    margin-top:5px;
}

#menu {
    margin-top: 5%;
    font-size:22px;
}

#portrait {
    margin-top: 20px;
}

img {
  border: 0px solid #eaeadc;
  padding: 2px;
}

img.no-border {
  border: 0;
  padding: 0;
  background: none;
}

.glance-box
{
    text-align: center;
    padding: 5px;
    font-style: italic;
    background-color: #f8f0db;
    border: solid 1px #E8E8E8;
    box-shadow: 10px 10px 5px #888;
}

.code
{
    padding: 5px;
    font-style: italic;
    border: solid 1px #888;
}
