<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Alfredo Di Napoli | Intern, MBDA Italy Spa | alfredo.dinapoli@gmail.com</title>
        

        <meta name="keywords" content="software,python,haskell,ocaml,cpp,html,javascript">
        <meta name="description" content="Alfredo Di Napoli curriculumn vitae">

        <link rel="stylesheet" type="text/css" href="/css/reset-fonts-grids.css" media="all"> 
        <link rel="stylesheet" type="text/css" href="/css/resume.css" media="all">
    </head>
    <body>

        <div id="doc2" class="yui-t7">
            <div id="inner">

            $body$

            </div><!-- // inner -->


        </div><!--// doc -->
</body>
</html>
