<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv="content-type" />
    <meta content="Alfredo Di Napoli - Computer Scientist, C++ Python and Haskell Programmer" name="title" />
    <meta content="Alfredo Di Napoli - Computer Scientist, C++ Python and Haskell Programmer" name="description" />
    <meta content="Alfredo Di Napoli, Di Napoli Alfredo, Haskell, C++, Python,
                  Programmer, Engineer, Functional, Programmatore, Roma, Web" name="keywords" />
    <meta content="alfredo.dinapoli@gmail.com" name="Author" /><meta content="global" name="distribution" />
    <meta content="document" name="resource-type" /><meta content="Alfredo Di Napoli" name="CreatedBy" />
    <meta content="General" name="RATING" />
    <meta content="all,index,follow" name="ROBOTS" />
    <meta content="15 days" name="REVISIT-AFTER" />
    <meta content="Public" name="document-type" />
    <meta content="Safe for Kids" name="document-rating" />
    <meta content="Global" name="document-distribution" />
    <meta content="internet" name="document-classification" />
    <meta content="Alfredo Di Napoli - Computer Scientist, C++ Python and Haskell Programmer" name="abstract" />
    <meta content="en" http-equiv="content-language" />
    <meta content="Aladin" name="robots" />
    <meta content="scooter" name="robots" />
    <meta content="Crawler" name="robots" />
    <meta content="Eule-Robot" name="robots" />
    <meta content="excite" name="robots" />
    <meta content="Flipper/1.1" name="robots" />
    <meta content="SmartCrawl" name="robots" />
    <meta content="Motor0.5" name="robots" />
    <meta content="Lycos" name="robots" />
    <meta content="Google" name="robots" />
    <meta content="Bing" name="robots" />
    <meta content="Copyright &copy; Alfredo Di Napoli - All rights reserved" name="copyright" />
    <meta content="web design, functional, haskell, python, programming" name="classification" />
    <meta content="GLOBAL" name="distribution" />

    <title>Alfredo Di Napoli - Computer Scientist, C++ Python and Haskell Programmer</title>
    <link href='http://fonts.googleapis.com/css?family=Scada' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
    <link href="/css/screen.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery.labeleffect.js" type="text/javascript"></script>
    <link href="/css/jquery.labeleffect.css" rel="stylesheet" type="text/css">
    <script src="/js/header_title.js" type="text/javascript"></script>
    <script src="/js/instant.js" type="text/javascript"></script>
  </head>
  
  <body id="home-page-layout">
    <div id="page-wrapper-1">
      <div id="page-wrapper-2">
	<div id="page">
	  <div id="header">
	    <div id="navigation">
	      <a href="/index.html">Who I am</a><span id="separator">|</span>
	      <a href="/portfolio.html">Portfolio</a><span id="separator">|</span>
	      <a href="/posts.html">Blog</a><span id="separator">|</span>
        <a href="/cv_eu/cv_eu.html">My r&eacute;sum&eacute;</a><span id="separator">|</span>
	      <a href="/hireme.html">Hire me!</a>
	    </div>
	  </div>
	  <div id="main">
	    <div id="head">
	      <h1 id="shadowed">"Experience is what you get when you didn't get what you wanted."</h1>
	    </div>
	    <div id="content-wrapper">
	      <div id="content">
		
		$body$
		
	      </div>
	    </div>

	    <div id="sidebar-wrapper">
	      <div id="sidebar">
		<h3>Internet Breadcrumbs</h3>
		<div id="twitroster_container">
      <div id="twitroster">
        <ul>
          <li><a href="http://i.imgur.com/mBoYe.jpg" target="_newtab">Books I own (partial selection)</a></li>
          <li><a href="https://github.com/adinapoli" target="_newtab">My Github profile</a></li>
          <li><a href="https://bitbucket.org/adinapoli" target="_newtab">My Bitbucket profile</a></li>
          <li><a href="http://laetus.sourceforge.net" target="_newtab">Laetus Framework</a></li>
          <li><a href="http://adinapoli.github.com/cumino/" target="_newtab">Cumino Vim Bundle</a></li>
          <li><a href="http://github.com/adinapoli/vim-markmultiple/" target="_newtab">Vim markmultiple Plugin</a></li>
        </ul>
		  </div>
		</div>
	      </div>
	    </div>

	    <div id="foot">
	      <div id="clear"> 
	      </div>
	    </div>
	    <div id="contact">
	      <p>Contact me at <a href="mailto:alfredo.dinapoli@gmail.com">alfredo.dinapoli@gmail.com</a></p>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <div id="footer">
      <div id="fine-print">
	<p id="copyright">Copyright &copy; 2011 Alfredo Di Napoli. All Rights Reserved. Layout freely inspired 
	  from <a href="http://terralien.com/">Terralien.</a>
	</p>
      </div>
    </div>
  </body>
</html>
